.mainContainer {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outerCircle{
    background-color: #33b5e5;
    border-radius: 50%;
    height: 550px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}