.Chart{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    width: 50vw;
    height: 60vh;
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;

}

.container {
    flex: 50%;
    background: var(--theme-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
}
